<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">

      <div  style="width:200px;height:200px;float:left">
        <%= image_tag @user.picture.url if @user.picture? %>
      </div>
      <div style="width:200px;height:200px;;float:left">

      <h2>
        <%= @user.name %>
      </h2>
      <h1>
        <%= @user.email %>
      </h1>
      <h1>
        <%= @user.sex %>
      </h1>
      <h1>
        <%= @user.status %>
      </h1>
      <div/>






 
    </section>
    <h5>
    <% if current_user?(@user)%>
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <span class="picture">
          <%= f.file_field :picture %>
        </span>
        <%= f.submit "上传头像", class: "btn btn-primary" %>
      <% end %>
      <h1> </h1>
        <i class="fa fa-cog fa-fw"></i>
        <%= link_to edit_user_path(current_user), class: "dropbtn" do %>
            编辑信息  
        <% end %>
      <% end %>
    </h5>


  </aside>
  <div class="col-md-8">
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>

<%
=begin%>
<%= @user.name %>, <%= @user.email %>, <%= @user.sex %>, 
<%= @user.phonenumber %>
<li>
<%= link_to "Settings", edit_user_path(current_user) %>
</li>
<%
=end%>
