<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <% if @user.microposts.any? %>
        <h3>Microposts (<%= @user.microposts.count %>)</h3>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
      <%= will_paginate @microposts %>
      <% end %>
    </div>
  </div>

<% else %>

  <div class="container-fluid">
    <header class="jumbotron hero-spacer">
      <h1>Welcome to Rails Chat!</h1>
      <!-- <h1>Rails Chat</h1> -->
      <p>一个Rails Chat测试版本</p>

      <p>
        <% if current_user %>
            hello! <%= current_user.name %>
        <% else %>
            <a href="#" class="btn btn-primary btn-large" id="login_panel"> Log in !</a>
            <%= link_to "Sign up", signup_path, class: "btn btn-primary btn-large" %>
        <% end %>

      </p>

      <h3>
        目前功能
      </h3>
      <li>聊天室消息即时推送</li>
      <li>支持查找，添加，删除好友</li>
      <li>创建私人聊天，也支持多人聊天</li>
      <li>房主可以拉人，踢人</li>
      <li>房主能转移房屋权限</li>
      <li>用户注册</li>
      <li>发布微博</li>
      <li>拥有管理后台</li>
      <li>用户个人简介及更新</li>
      <h3>
        TODO
      </h3>
      <li>现在的即时推送只限于聊天的消息，其他的推送比如未读信息提醒（包括声音）等还未涉及</li>
      <li>添加好友需要对方同意，现在是单方面添加</li>
      <li>UI界面完善（类似WeChat）</li>
      

      <h3>
        Usage
      </h3>
      <li>测试账号密码分别为: user1@test.com, password （邮箱后的数字代表不同用户）</li>
      <li>管理员账号密码分为: admin@test.com, 123456</li>
      <li>请用两个浏览器分别登陆不同的用户来测试消息的即使推送，注意这两个用户需要互为好友</li>

    </header>

    <hr>
    <hr>
  </div>
<% end %>